@use 'src/assets/styles/theme';

.navigation {
  display: flex;
  background-color: theme.$color-bg-dark;
  align-items: center;
}

.navLink {
  padding: 0 32px 0 16px;
  margin-right: 1px;
  color: theme.$color-text-primary;
  background-color: theme.$color-bg-light;
  font-size: 1rem;

  &.active {
    background-color: theme.$color-bg-default;
  }
}
