@use 'src/assets/styles/theme';

.popup {
  position: relative;
}

.content {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: theme.$color-bg-dark;
  opacity: 0;
  border-radius: 4px;
  box-shadow:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transform: scale(0.75, 0.5625);
  transform-origin: 0px 0px;
  transition:
    opacity 260ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 173ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  .open & {
    opacity: 1;
    transform: scale(1, 1);
    z-index: theme.$z-index-drawer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: theme.$z-index-drawer;

  .open & {
    visibility: visible;
  }
}
