@use 'src/assets/styles/theme';
@use 'src/assets/styles/responsive';

.content {
  width: 100%;
  flex-grow: 1;
  margin-left: 320px;
  display: flex;
  flex-direction: column;
  padding-top: theme.$height-header;

  @include responsive.smDown {
    padding-top: theme.$height-header + theme.$height-breadcrumbs;
    margin-left: 0;
  }
}

.routesWrapper {
  width: 100%;
  flex: 1;
  padding-top: 16px;

  @include responsive.smDown {
    padding-top: 8px;
  }
}

.breadcrumbs {
  @include responsive.hideSmDown;
}
