@use 'src/assets/styles/theme';

.mobileNavigation {
  color: theme.$color-text-primary;
  font-size: 1.25rem;
  padding: 8px 0;
}

.navLink {
  padding: 12px 16px;
  gap: 6px;

  @include theme.hoverBg;

  &.active {
    background-color: theme.$color-bg-active;
    color: #fff;
  }

  svg {
    color: theme.$color-text-primary;
  }
}
