@use 'src/assets/styles/theme';

.timeline {
  &.purple {
    --az-timeline-color: #{theme.$color-secondary-main};
  }
  &.green {
    --az-timeline-color: #{theme.$color-secondary-light};
  }
}

.item {
  display: flex;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  border: 2px solid;
  border-radius: 50%;
  padding: 4px;
  margin: 8px 0;
  border-color: var(--az-timeline-color);

  .itemStart & {
    background-color: var(--az-timeline-color);
  }
}

.line {
  flex: 1;
  width: 2px;
  background-color: var(--az-timeline-color);

  .itemStart & {
    display: none;
  }
}

.content {
  flex: 1;
  padding: 0 0 16px 16px;
}
