@use 'src/assets/styles/theme';

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
  padding: 6px;

  @include theme.hoverBg;
}
