$color-divider: #585858;
$color-primary-main: #cc7832;
$color-primary-light: #ffc66d;
$color-secondary-main: #9876aa;
$color-secondary-light: #6a8759;
$color-text-primary: #cccccc;
$color-text-secondary: rgba(255, 255, 255, 0.5);
$color-text-light: rgba(204, 204, 204, 0.8);
$color-bg-default: #212122;
$color-bg-dark: #252526;
$color-bg-light: #2d2d2d;
$color-bg-paper: #1e1e1f;
$color-scrollbar-thumb: #79797966;
$color-scrollbar-thumb-hover: #646464b3;

$font-family-base: 'Open Sans', sans-serif;

$z-index-app-bar: 10;
$z-index-drawer: 11;
