@use 'src/assets/styles/theme';

html {
  height: 100%;
  min-width: 320px;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  font-family: theme.$font-family-base;
  background-color: theme.$color-bg-default;
  color: theme.$color-text-primary;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.25em;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

@keyframes azFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* Corrected to 1 for standard opacity value */
  }
}

@keyframes azFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme.$color-scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
  background: theme.$color-scrollbar-thumb-hover;
}
