@use 'src/assets/styles/responsive';

.container {
  padding-left: 24px;
  padding-right: 16px;
  padding-bottom: 24px;

  @include responsive.smDown {
    padding-left: 16px;
    padding-bottom: 16px;
  }
}
