@use 'src/assets/styles/theme';

.breadcrumbs {
  color: theme.$color-text-light;
  padding: 2px 8px 2px 16px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 2px;

  button.item {
    background: none;
    border: none;
    padding: 0;
  }
}

.separator {
  font-size: 1.5rem;
}

.icon {
  margin-right: 8px;
  font-size: 1.25rem;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1rem;

  &.active {
    color: #fff;

    :hover {
      cursor: pointer;
    }
  }
}

.list {
  padding: 8px 0;
}

.link {
  color: theme.$color-text-primary;
  text-decoration: none;
  padding: 6px 16px;

  @include theme.hoverBg;
}
